header {
  padding: 15px;
  background-color: #d2b48c;
}
#logo-img {
  float: left;
  margin-left: 15px;
  width: 150px;
  height: 150px;
}
h1, h2 {
  font-weight: 700;
  text-align: right;
  color: #a0522d;
  margin-right: 20px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 24px;
}
nav {
  position: relative; left: 15px;
}
nav,
main,
footer {
  background-color: beige;
}
main p {
  text-align: center;
}
footer {
  text-align: right;
}